<div id="content">
    <h1>Actualizar Solución</h1>

    <mat-form-field id="mat-form-field" appearance="fill" class="name">
        <mat-label>Id del Hallazgo</mat-label>
        <input matInput value="{{dataSource.issueId}}" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Área de TI</mat-label>
        <input matInput readonly value="{{dataSource.area}}">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Ambiente</mat-label>
        <input matInput readonly value="{{dataSource.environment}}">
    </mat-form-field>

    <mat-form-field class="example-full-width" id="mat-form-field" class="description">
        <mat-label>Detalle del Hallazgo</mat-label>
        <textarea matInput readonly value="{{dataSource.issueDetail}}"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" id="mat-form-field" class="file">
        <mat-label>Ver adjuntos del Hallazgo</mat-label>
        <button mat-icon-button matPrefix>
            <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput disabled />
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Usuario de la solución" value="{{dataSource.solutionUser}}">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Título de la solución" value="{{dataSource.solutionTitle}}">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
        <textarea matInput placeholder="Detalle de solución" value="{{dataSource.solutionDetail}}"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" id="mat-form-field" class="file" (click)="fileInput.click()">
        <mat-label>Adjuntos de la Solución</mat-label>
        <button mat-icon-button matPrefix>
            <mat-icon>attach_file</mat-icon>
        </button>

        <input type="text" readonly matInput disabled />
        <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" multiple accept="image/png, image/jpg, image/jpeg"/>
    </mat-form-field>

    <div id="buttons">
        <button mat-raised-button id="button" (click)="close()">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>

        <button mat-raised-button id="button" class="button-login">
            <mat-icon>add</mat-icon>
            Actualizar solución
        </button>
    </div>
</div>