body {
    background-color: #f4f4f4;
}

h1 {
    font-weight: 500;
    font-size: 1.7em;
    text-align: center;
}

#same {
    width: 50%;
}

#div-same {
    display:flex;
}

.contain {
    margin-left: 25px;
    margin-right: 25px;
}

.environment {
    margin-left: 10px;
}

.image-click {
    cursor: pointer;
}

.mat-form-field {
    width: 100%;
}

.mat-icon {
    font-size: 20px;
    margin-right: 5px;
}

.mat-raised-button{
    background-color: #2c2a29;
    color: #ffffff;
    margin-left: 10px;
}

.mat-raised-button:hover{
  background-color: #FDDA24;
  color: #2c2a29;
}

.space {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 25px;
}

.text-error {
    margin-top: -15px;
    font-size: 12px;
    color: red;
    margin-bottom: -5px;
}