h1 {
    font-weight: 500;
    font-size: 1.7em;
    text-align: center;
}

#buttons {
    margin-top: 5px;
    display: flex
}

#same {
    width: 50%;
}

#div-same {
   display: flex; 
}

#msg-error {
    width: 50%;
}

.div-errors {
    margin-bottom: 15px;
}

.environment {
    margin-left: 10px;
}

.env-error {
    margin-left: 10px;
}

.fields {
    width: 100%;
}

.mat-icon {
    font-size: 20px;
    margin-right: 5px;
}

.mat-raised-button {
    width: 100%;
    margin-left: 10px;
}

.button-cancel{
    background-color: #2c2a29;
    color: #ffffff;
}

.button-cancel:hover{
  background-color: #FDDA24;
  color: #2c2a29;
}

.button-create{
    background-color: #FDDA24;
    color: #2c2a29;
}

.button-create:hover{
  background-color: #2c2a29;
  color: #ffffff;
}

.text-error {
    margin-top: -15px;
    font-size: 12px;
    color: red;
    margin-bottom: -5px;
}