body {
    background-color: #f4f4f4;
}

h1 {
    font-weight: 500;
    font-size: 2.4em;
}

p {
    margin-left: 25px;
}

table {
    width: 100%;
}

#btn-refresh {
    float: right;
    margin-right: 25px;
}

#first-div {
    align-items: center;
}

#same {
    margin-right: 25px;
}

#search-issue {
    margin: 0 25px 15px 25px;
    width: 20%;
}

.mat-elevation-z8 {
    margin-left: 25px;
    margin-right: 25px;
}

.mat-icon {
    font-size: 20px;
    margin-right: 5px;
}

.title {
    margin: 35px 0 0 25px;
}