body {
    background-color: #f4f4f4;
}

h1 {
    font-weight: 500;
    font-size: 2.4em;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    margin-left: 25px;
    margin-right: 25px;
}

.title {
    margin: 35px 0 0 25px;
}

#search-issue {
    margin: 0 25px 15px 25px;
}
p {
    margin-left: 25px;
}