<body>
  <app-navbar></app-navbar>

  <h1 class="title">Hallazgos por verificar</h1><br>
  <mat-form-field id="search-issue">
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar ahora" class="search-input" #input>
    <button matSuffix mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Area Column -->
      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Área de TI
        </mat-header-cell>
        <mat-cell *matCellDef="let issue"> {{issue.area}} </mat-cell>
      </ng-container>

      <!-- Environment Column -->
      <ng-container matColumnDef="environment">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ambiente
        </mat-header-cell>
        <mat-cell *matCellDef="let issue"> {{issue.environment}} </mat-cell>
      </ng-container>

      <!-- IssueDetail Column -->
      <ng-container matColumnDef="issueDetail">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Detalle
        </mat-header-cell>
        <mat-cell *matCellDef="let issue"> {{ (issue.issueDetail.length)? (issue.issueDetail |
          slice:0:40)+'...':(issue.issueDetail ) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="icons">
        <mat-header-cell *matHeaderCellDef>Agregar solución</mat-header-cell>
        <mat-cell *matCellDef="let issue">

            <button mat-icon-button color="black" aria-label="See" (click)="createSolution(issue.issueId)">
                <mat-icon>
                    add
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay filtros relacionados con: "{{input.value}}"</td>
      </tr>
  </mat-table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10,15]" showFirstLastButtons
      aria-label="Select page">
    </mat-paginator>
  </div>
</body>