<mat-toolbar id="navbar">
    <a href="#"><img src="../../../../assets/img/logos/logo-banistmo.png" alt="Logo Banistmo"></a>
    <div class="spacer"></div>
    <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">
        <mat-icon>person</mat-icon>Iniciar sesión
    </button>
</mat-toolbar>

<body>
    <div id="content">
        <h1>Bienvenido a Base de Conocimiento Banistmo (BOB)</h1>
        <p>BOB se encargará de generar una base de conocimientos de los hallazgos que presenten
            los Colaboradores de Ingeniería de TI, que evolucionará con base al uso de los clientes. Con esta aplicación
            se busca
            mejorar los tiempos de atención de los miembros que pertenezcan a Ingeniería de TI. BOB contará con expertos
            (encargado de las áreas), los cuales le brindarán soluciones a los hallazgos que presenten los
            Colaboradores.</p>
    </div>
</body>
<div class="container">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div>